@page "/colaboradores"
@using TechChallengeDgtallab.Core.DTOs
@inherits ListCollaboratorPage

<MudText Typo="Typo.h3">Colaboradores</MudText>

<PageTitle>Colaboradores</PageTitle>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.PersonAdd"
               Href="/colaboradores/adicionar">
        Novo Colaborador
    </MudButton>
</div>

<MudDataGrid T="CollaboratorDto"
             Class="mt-4"
             ServerData="LoadServerData"
             @ref="DataGrid"
             RowsPerPage="@Core.Configuration.DefaultPageSize">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Projetos</MudText>
        <MudSpacer />
        <MudSelect T="FilterOption"
                   Label="Selecione o filtro"
                   Value="SelectedFilter"
                   ValueChanged="OnValueFilterChanged"
                   Class="me-2 mb-4">
            @foreach (var option in FilterOptions)
            {
                <MudSelectItem Value="@option">@option.DisplayName</MudSelectItem>
            }
        </MudSelect>

        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar..."
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Class="me-2">
        </MudTextField>
        <MudButton StartIcon="@Icons.Material.Filled.Search"
                   OnClick="OnButtonSearchClick"
                   ButtonType="ButtonType.Button"
                   Color="Color.Primary"
                   Variant="Variant.Filled"
                   Class="mr-2">
            Pesquisar
        </MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Clear"
                   OnClick="OnClearSearchClick"
                   ButtonType="ButtonType.Button"
                   Color="Color.Primary"
                   Variant="Variant.Filled">
            Limpar
        </MudButton>

    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="Nome" />
        <PropertyColumn Property="x => x.Name" Title="Nome" />
        <PropertyColumn Property="x => x.Cpf" Title="CPF" />
        <PropertyColumn Property="x => x.Rg" Title="RG" />
        <PropertyColumn Property="x => x.Department" Title="Departamento" />
        <TemplateColumn Title="Gerente">
            <CellTemplate>
                @context.Item.Manager
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Class="justify-end" Title="Ações">
            <CellTemplate>
                <MudStack Row>
                    <MudTooltip Text="Editar">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                       Href="@($"/colaboradores/editar/{context.Item.Id}")"
                                       Color="Color.Primary">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Excluir">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Color="Color.Error"
                                       OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Name)">
                        </MudIconButton>
                    </MudTooltip>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="CollaboratorDto" />
    </PagerContent>
</MudDataGrid>