@page "/departamentos"
@using TechChallengeDgtallab.Core.Requests
@inherits ListDepartmentPage

<MudText Typo="Typo.h3">Departamentos</MudText>

<PageTitle>Departamentos</PageTitle>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.BusinessCenter"
               Href="/departamentos/adicionar">
        Novo Departamento
    </MudButton>
</div>

<MudDataGrid T="EditDepartmentRequest"
             Class="mt-4"
             ServerData="LoadServerData"
             @ref="DataGrid"
             RowsPerPage="@Core.Configuration.DefaultPageSize">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Departamentos</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar por Nome, Gerente, Departamento Superior"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Clearable="true"
                      OnClearButtonClick="@(() => SearchTerm = "")"
                      Immediate="true"
                      IconSize="Size.Medium"
                      Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="Nome" />
        <PropertyColumn Property="x => x.Manager!.Name" Title="Gerente" />
        <PropertyColumn Property="x => x.SuperiorDepartment" Title="Departamento Superior" />
        <TemplateColumn Class="justify-end" Title="Ações">
            <CellTemplate>
                <MudStack Row>
                    <MudTooltip Text="Editar">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                       Href="@($"/departamentos/editar/{context.Item.Id}")"
                                       Color="Color.Primary">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Excluir">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Color="Color.Error"
                                       OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Name)">
                        </MudIconButton>
                    </MudTooltip>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="EditDepartmentRequest" />
    </PagerContent>
</MudDataGrid>