<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TechChallengeDgtallab</a>
    </div>
</div>

<MudNavMenu Bordered="true">
    <MudNavGroup Icon="@Icons.Material.Filled.Person" Title="Colaboradores" Expanded="true">

        <MudNavLink Icon="@Icons.Material.Filled.PersonAdd" Href="/colaboradores/adicionar">Cadastro</MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.List" Href="/colaboradores">Listagem</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Icon="@Icons.Material.Filled.BusinessCenter" Title="Departamentos" Expanded="true">
        <MudNavLink Icon="@Icons.Material.Filled.PersonAdd" Href="/departamentos/adicionar">Cadastro</MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.List" Href="/departamentos">Listagem</MudNavLink>
    </MudNavGroup>
</MudNavMenu>
